{% extends 'client/index.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Edit Post</h1>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                {{ form_errors(form.content) }}
            </div>
            <button type="submit" class="btn btn-primary">Update Post</button>
            <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-outline-secondary">Cancel</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}