{% extends 'client/index.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Latest Posts</h1>

    <div class="row mt-4">
        {% for post in posts %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By {{ post.user.username }} - {{ post.createdAt|date('M d, Y H:i') }}</h6>
                        <p class="card-text">{{ post.content|striptags|slice(0, 150) }}{% if post.content|length > 150 %}...{% endif %}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-sm btn-primary">Read more</a>
                            <div>
                                <span class="me-2"><i class="fas fa-heart"></i> {{ post.likes|length }}</span>
                                <span><i class="fas fa-comment"></i> {{ post.comments|length }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-info">
                    No posts found. Be the first to create a post!
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
